.column{
	float: left;
	width: 33%;
	margin-bottom: 10px;
	padding: 0 8px;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 50px;
}
.team-container{
	padding: 0 16px;
}
.team-container::after, .row::after{
	content: "";
	clear: both;
	display: table;	
}
.title{
	color: gray;
	font-weight: 600
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}